<header>
  <h1><%= title %></h1>
  <h3><i><%= subtitle %></i> </h3>
</header>

<nav>
  Links go here
</nav>

<article>
  <h2>
    <%= article_title %>
  </h2>
  <% articles.each do |article|
    if article.title == article_title %>
      <p> <%= article.body %> </p>
    <% end %>
  <% end %>
</article>

<footer>
  <p><small>
    <%= copyright %>
  </small><p>
</footer>