<header>
  <h1><%= title %></h1>
  <h3><i><%= subtitle %></i> </h3>
</header>

<nav>
  Links go here
</nav>

<% articles.each do |article| %>
  <article>
    <!-- Make the article title a hyperlink to the article page -->
    <h2> <%= article.title %> </h2>
    <p> <%= article.body %> </p>
  </article>
<% end %>

<footer>
  <p><small>
    <%= copyright %>
  </small><p>
</footer>