<header>
  <h1><%= title %></h1>
  <h3><i><%= subtitle %></i> </h3>
</header>

<nav>
  Links go here
</nav>

<% articles.each do |article| %>
  <article>
    <h2> <%= article[0] %> </h2>
    <p> <%= article[1] %> </p>
  </article>
<% end %>

<footer>
  <p><small>
    <%= copyright %>
  </small><p>
</footer>