<!doctype = html>

<html>
  <head>
    <style type="text/css" media="screen">
    header, nav, footer, article {display:block}
    header {text-align: center}
    nav {float: left; 
         width: 20% }
    article {float: right; 
             width: 80%}
    footer {clear: both}
    </style>
  </head>
  
  <body>
    
    <header>
      <h1><%= title %></h1>
      <h3><i><%= subtitle %></i> </h3>
    </header>

    <nav>
      <% links.each do |link| %>
        <A HREF = <%= link[1] %> > <%= link[0] %> </A> <br>
      <% end %>
    </nav>
    
    <%= yield %>
  
    <footer>
      <p><small>
        <%= copyright %>
      </small><p>
    </footer>
  
  </body>
  
  
</html>